.ant-form-item-control-input-content{
    border-radius: 20px;
    background: #ECECEC;
}

.success-button-Item{
    margin-right: 2px;
    border-radius: 20px;
    border:none;
    background:#bbfbc9;
    font-weight: 500;
    color:#37af7dd9;
}
.field-button-Item{
    margin-right: 2px;
    border-radius: 20px;
    border:none;
    background:#ffd5d3 ;
    font-weight: 500;
    color:#ce4040d9;
}