.modal-Item .ant-modal-content {
    border-radius: 20px;
}
.add-button-Item{
    margin: 10px;
    background: #11f711;
    color: white;
}
.edit-button{
    background:#2890dad4;
    margin-left:5px;
}