.container{
    width: 700px;
    padding: 30px;
}

.list-container{
    border-radius: 30px;
    background: #ffffff;
}
.list-Item{
    border-radius: 20px;
    margin: 10px;
}
.todo-completed{
    background: #11f711;
}
.todo-canceled{
    background: #ff0000;
}
.todo-active{
    background: #fbfbfb;
}
.row-Item{
    text-align: initial;
    width: 100%;
}
.marked-delete-icon{
    color: red;
}
.active-delete-icon{
    background: red;
    color:white;
}
.title-completed {
    color: #ECECEC;
}
.title-canceled{
    color: #ECECEC;
}
.title-active{
    color:black;
}
.date-completed {
    color: #ECECEC;
}
.date-canceled{
    color: #ECECEC;
}
.date-active{
    color:lightgray;
}